.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 0.9fr 1.4fr;
    grid-template-rows: 1.4fr 1.4fr 0.4fr 1.1fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    overflow: hidden;
    grid-template-areas:
      "nav info main-picture"
      "nav info main-picture"
      "nav picture-2 main-picture"
      "nav picture-2 picture-3"
      "footer footer footer";
  }
  .footer-content {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "footer-left footer-right";
  }
  
  .footer-left { grid-area: footer-left; }
  
  .footer-right { grid-area: footer-right; }

  .footer-left h3 {
  display: flex;
  margin-left: 1%;
  color: white;
  font-family: 'gilgan', sans-serif;
  text-decoration: none;
}
  .footer-right {
  display: flex;
  align-items: right;
  text-align: right;
  justify-content: right;
}
  .footer-right p {
  display: flex;
  margin-left: 1%;
  color: white;
  font-family: 'gilgan', sans-serif;
  text-decoration: none;
  margin-right: 1%;
}

.footer { grid-area: footer; 
      height: 5vh;
  }
body  {
    height: 100vh;
    margin: 0;
}
  
  .info {
    grid-area: info;
    min-width: 45vw;
    height: 60vh;
  }
  
  .picture-2 h2  {
    font-family: 'gilgan', sans-serif;
    text-align: left;
    font-size: 25pt;
    margin-left: 11%;
    color: rgb(169, 0, 0);
    
  }
  .picture-2 p  {
    font-family: 'gilgan', sans-serif;
    text-align: left;
    font-size: 15pt;
    margin-left: 12%;
    color: white;
  }
  .nav { 
    grid-area: nav;
    height: 89vh;
    border-right: 3px solid rgb(169, 0, 0);
  }
  
  .main-picture {
    grid-area: main-picture;
    }

  #main-picture {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgb(169, 0, 0);
  }

  

  
  .picture-2 { grid-area: picture-2; }
  
  .picture-3 { grid-area: picture-3; }

.info h1  {
  font-family: 'gilgan', sans-serif;
  text-align: left;
  font-size: 70px;
  margin-left: 12%;
  color: white;
}
.info h3  {
  font-family: 'gilgan', sans-serif;
  text-align: left;
  font-size: 30px;
  margin-left: 12%;
  color: white;
}
.main-line   {
  margin-left: 12%;
  margin-right: 8%;
  text-align: left;
  color: rgb(255, 255, 255);
}
.info p {
  font-family: 'gilgan', sans-serif;
  text-align: left;
  font-size: 20px;
  margin-left: 12%;
  color: white;
}

.main-picture {
  display: flex;
  justify-content: center;
  max-width: 40vw;
}
.main-picture img {
  height: auto;
  border-radius: 5px;
}




.container-mobile {
  display: none;
}
#mobile-portrait  {
  display: none;
}
.header-left  {
  display: none;
}
.text {
  display: none;
}
.header-right {
  display: none;
}

@media (max-width: 1000px)  {
  .mobile-container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    grid-auto-flow: row;
    grid-template-areas:
      "header-left header-right"
      "text text"
      "portrait-img-mobile portrait-img-mobile";
  }
  .container  {
    display: none;

  }
  .header-left {
    grid-area: header-left;
    display: flex;
    justify-content: center;
    height: 10vh;
  }
  .header-right {
    grid-area: header-right;
    height: 10vh;
  }
  
  .text { grid-area: text; }
  
  .portrait-img-mobile {
    grid-area: portrait-img-mobile;
    display: flex;
    justify-content: center;
  }
  #logo-mobile {
    width: 100%;
    height: 100%;
  }
  .header-left  {
    display: flex;
    justify-content: center;
  }
.text h1  {
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: white;
  font-family: 'gilgan', sans-serif;
  font-size: 30pt;
}
.text h3  {
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: white;
  font-family: 'gilgan', sans-serif;
  font-size: 20pt;
}
.text p {
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: white;
  font-family: 'gilgan', sans-serif;
  font-size: 15pt;
}
#mobile-portrait  {
  width: 80vw;
  height: auto;
}




  .ul {
    display: none;
  }

li {
  display: none;
  font-family: 'gilgan', sans-serif;
}

.menu {
  z-index: 6;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin-right: 20%;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(0, 0, 0, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 5%;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222222fd;
    font-size: 25pt;
    text-decoration: none;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .menu a {
    text-decoration: none;
    color: white;
  }
}
}